.title
  display: block

  &--h1
    font-size: em(60)
    +md
      font-size: em(50)
    +xs
      font-size: em(40)

  &--h2
    font-size: em(36)
    +md
      font-size: em(30)
    +xs
      font-size: em(24)

  &--h3
    font-size: em(26)
    +md
      font-size: em(22)
    +xs
      font-size: em(20)

  &--h4
    font-size: em(18)

  &--h5
    font-size: 1em

  &--shadow
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35)

  &--accent
    @extend .color-accent

  &--accent-sec
    @extend .color-accent-sec

  &--accent-thrd
    @extend .color-accent-thrd


.text
  p
    +notlast
      margin-bottom: rem(16)

  &--shadow
    @extend .title--shadow

  &--400
    font-weight: 400

.order-list
  +counter('order', '.')
  +notlast
    margin-bottom: rem(40)
  &__item
    font-weight: 400
    position: relative
    padding-right: rem(35)
    padding-top: rem(20)
    +notlast
      margin-bottom: rem(5)
    &::before
      color: $accent-sec
      font-size: em(38)
      font-weight: 700
      position: absolute
      top: 0
      right: 0

.list
  &__item
    position: relative
    padding-right: 30px
    margin-bottom: rem(15)

    +not-rtl
      padding-right: 0
      padding-left: rem(30)

  &__icon
    position: absolute
    top: 0
    right: 0

    +not-rtl
      right: auto
      left: 0

    +sm
      top: -.2em
