.title
  display: block

  &--h1
    font-size: em(60)
    +md
      font-size: em(50)
    +xs
      font-size: em(40)

  &--h1-md
    font-size: em(55)
    +md
      font-size: em(50)
    +xs
      font-size: em(40)

  &--h2
    font-size: em(36)
    +md
      font-size: em(30)
    +xs
      font-size: em(24)

  &--h2-sm
    font-size: em(30)
    +xs
      font-size: em(24)


  &--h3
    font-size: em(26)
    +md
      font-size: em(22)
    +xs
      font-size: em(20)

  &--h4
    font-size: em(18)

  &--h5
    font-size: 1em

  &--shadow
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35)

  &--accent
    @extend .color-accent

  &--accent-sec
    @extend .color-accent-sec

  &--accent-thrd
    @extend .color-accent-thrd


.text
  p
    +notlast
      margin-bottom: rem(16)

  &--shadow
    @extend .title--shadow

  &--400
    font-weight: 400

.order-list
  $this: &
  
  &:not(#{$this}--manual)
    +counter('order', '.')

  +notlast
    margin-bottom: rem(40)
  &__item
    font-weight: 400
    position: relative
    padding-right: rem(35)
    padding-top: rem(20)
    +notlast
      margin-bottom: rem(5)
    &::before
      @extend #{$this}__nmb

  &__nmb
    color: $accent-sec
    font-size: em(60)
    font-weight: 700
    position: absolute
    top: -.35em
    right: 0

  &--accent
    #{$this}__item
      font-weight: inherit
      #{$this}__nmb
        color: $accent
      &::before
        color: $accent

  &--manual
    #{$this}__item
      padding-right: rem(60) !important

.list
  $this: &

  &__item
    position: relative
    padding-right: 30px
    margin-bottom: rem(15)

    +not-rtl
      padding-right: 0
      padding-left: rem(30)

  &__icon
    position: absolute
    top: 0
    right: 0

    +not-rtl
      right: auto
      left: 0

    +sm
      top: -.2em

  &--lg
    #{$this}__item
      padding-right: rem(50)
      padding-top: rem(10)
      +notlast
        margin-bottom: rem(24)
