<!-- begin header -->
<header class="header header--sm">
  <div class="header__top">
    <div class="container">
      <div class="header__top-in">
        <div class="header__text">
          ברוכה הבאה למשפחת אופר אין אמריקה – אלפי בנות מישראל כבר השתתפו בתוכנית ועשו שינוי בחייהן – עכשיו תורך!
        </div>
        
        <ul class="header__contacts">
          <li class="header__contact"><a href="tel:03-5281114">03-5281114 {{ mixins.icon('phone') }}</a></li>
          <li class="header__contact"><a href="mailto:danny@icec.co.il">danny@icec.co.il {{ mixins.icon('email') }}</a></li>          
        </ul>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="header__bottom-in">
     <a href="/" class="header__logo logo">
       <img class="js-lazy" alt="" src="" data-src="./img/logo.png"/>
     </a>
    </div>
  </div>
</header>
<!-- end header -->