<!-- begin blocks -->
<div class="blocks">
  {% for i in blocks %}
  <div class="blocks__item">
    <div class="block{% if i.mod %} {{ i.mod }}{% endif %}">
      <button class="block__btn js-dropdown-btn">
        <span
          class="block__title title{% if i.titleMod %} {{ i.titleMod }}{% else %} title--h2{% endif %}"
        >{{ i.title | safe }}</span>
      </button>

      <div class="block__list-wrap js-dropdown-item">
        <div class="block__list-title">של אופר אין אמריקה אך ישנם כמה תנאים מוקדמים:
בנות רבות רוצות לקחת חלק פעיל בתוכנית המוצלחת </div>

        {{ mixins.list(
          name = 'block__list',
          modifications = { wrap: '', item: 'block__list-item', link: '' },
          list = [
            { item: mixins.icon('check', 'block__list-icon') + 'גיל – נשים בטווח גילאים 81 עד 72 )לא כולל(' },
            { item: mixins.icon('check', 'block__list-icon') + 'בעלות רישיון נהיגה' },
            { item: mixins.icon('check', 'block__list-icon') + 'ניסיון עבודה עם ילדים )כולל ביביסטר(' },
            { item: mixins.icon('check', 'block__list-icon') + '21 שנות לימוד לפחות' },
            { item: mixins.icon('check', 'block__list-icon') + 'אנגלית ברמה סבירה' },
            { item: mixins.icon('check', 'block__list-icon') + 'בריאות תקינה' }
          ]
        ) }}
      </div>
    </div>
    
  </div>
  {% endfor %}
</div>
<!-- end blocks -->