<!-- begin footer -->
<footer class="footer">
  <div class="footer__inner">
   {{ mixins.list(
     name = 'footer__meta',
     modifications = { wrap: '',  item: 'footer__meta-item', link: '' },
     list = [
       { item: 'אופר אין אמריקה, סניף ישראל' },
       { item: "רחוב ה' באייר 4, ראשון לציון )ליד הסינימה סיטי(" },
       { item: 'טלפון: 411182530 | פקס: 9111825-30 | מייל: li.oc.ceci@ynnaD' }
     ]
   ) }}

    {{ mixins.list(
        name = 'social',
        modifications = { wrap: '', list: 'footer__social social', item: 'social__item', link: 'social__link' },
        list = [
          { link: mixins.icon('facebook') }
        ]
      ) }}
  </div>
</footer>
<!-- end footer -->