<!-- begin footer -->
<footer class="footer">
  <div class="footer__inner">
   {{ mixins.list(
     name = 'footer__meta',
     modifications = { wrap: '',  item: 'footer__meta-item', link: '' },
     list = [
       { item: '<strong>אופר אין אמריקה, סניף ישראל</strong>' },
       { item: "<strong>רחוב ה' באייר 4, ראשון לציון </strong>(ליד הסינימה סיטי)" },
       { item: 'טלפון: <strong>411182530</strong> | פקס: <strong>9111825-30</strong> | מייל: <strong>Danny@icec.co.il</strong>' }
     ]
   ) }}

    {{ mixins.list(
        name = 'social',
        modifications = { wrap: '', list: 'footer__social social', item: 'social__item', link: 'social__link' },
        list = [
          { link: mixins.icon('facebook') }
        ]
      ) }}
  </div>
</footer>
<!-- end footer -->