<!-- begin header -->
<header class="header">
  <div class="header__top">
    <div class="header__top-in">
      {{ mixins.list(
        name = 'social',
        modifications = { wrap: '', list: 'header__social social', item: 'social__item', link: 'social__link' },
        list = [
          { link: mixins.icon('facebook') }
        ]
      ) }}
      
      <ul class="header__contacts">
        <li class="header__contact"><a href="tel:03-5281114">03-5281114 {{ mixins.icon('phone') }}</a></li>
        <li class="header__contact"><a href="mailto:danny@icec.co.il">danny@icec.co.il {{ mixins.icon('email') }}</a></li>
        
      </ul>
    </div>
  </div>

  <div class="header__bottom">
    <div class="header__bottom-in">
     <a href="/" class="header__logo logo">
       <img class="js-lazy" alt="" src="" data-src="./img/logo.png"/>
     </a>

      {{ mixins.list(
        name = 'nav',
        modifications = { wrap: '', item: '', link: '' },
        list = [
          { link: 'רשק תריצי ', modItem: 'nav__current-item' },
          { link: 'ףסונ עדימ ' },
          { link: 'תוצלמה ך' },
          { link: 'ילהתה ה' },
          { link: 'קירמאב רפוא   ' },
          { link: 'English' }
        ]
      ) }}
    </div>
  </div>
</header>
<!-- end header -->