<!-- begin s-video -->
<section class="s-video">
  <div class="s-video__title-block">
    <h1 class="s-video__title title title--h1-md title--accent">
      הטופס נשלח בהצלחה!
    </h1>

    <div class="s-video__subttl">
      <p>נעבור עליו ביסודיות ונזמן אות לראיון אישי.</p>
      <p>תודה על הזמן שהקדשת למילוי הטופס.</p>
    </div>
  </div>

  <div class="s-video__inner">
    <div class="s-video__left">
      <div class="s-video__img s-video-img">
        <div class="s-video-img__title">
          ממליצים לך לצפות בוידאו של טל כדי להבין  איך זה צריך להיות
        </div>
        
        <div class="s-video-img__img">
          <iframe 
            class="js-lazy"
            src=""
            data-src="https://www.youtube.com/embed/MUOv8ksL9zk"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="s-video__right">
      <div class="container">
        <div class="s-video__content">
          <h2 class="s-video__content-title title title--h2-sm title--accent-thrd title--shadow">
            מה להביא לראיון האישי
          </h2>

          <div class="s-video__content-subttl">
            (כל מה שלא העלאת לטופס, להביא על דיסק-און-קי ביום הראיון)
          </div>

          <ul class="s-video__list list list--lg">
            <li class="list__item"><img class="list__icon js-lazy" src="" alt="" data-src="./img/check.svg"/>תעודת בית ספר/ בגרות / אישור 21 שנות לימוד</li>
            <li class="list__item"><img class="list__icon js-lazy" src="" alt="" data-src="./img/check.svg"/>צילום רישיון נהיגה</li>
            <li class="list__item"><img class="list__icon js-lazy" src="" alt="" data-src="./img/check.svg"/>צילום דרכון (אם יש)</li>
            <li class="list__item"><img class="list__icon js-lazy" src="" alt="" data-src="./img/check.svg"/>תעודת שחרור/ שרות לאומי (אם יש)</li>
            <li class="list__item"><img class="list__icon js-lazy" src="" alt="" data-src="./img/check.svg"/>צילום וויזה קודמת לארה"ב (אם יש)</li>
            <li class="list__item"><img class="list__icon js-lazy" src="" alt="" data-src="./img/check.svg"/> תחביבים וכל דבר שיכול להאיר אותך בעיני המשפחה.  ווידאו – צלמי ווידאו קצר (דקה) באנגלית בו תספרי על עצמך, משפחתך, </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end s-video -->