<!-- begin s-step-0 -->
<section class="s-step-0">
  <div class="container container--lg">
    <h2 class="s-step-0__title title title--h2-sm title--accent">
      התהליך כולל מספר שלבים, עד קבלת הוויזה והטיסה...
    </h2>

    <div class="s-step-0__list">
      
    

      <ol class="order-list order-list--manual order-list--accent">
        <li class="order-list__item">
          <div class="order-list__nmb">1.</div>
          מלאי את השאלון כנדרש והזמינה ראיון אישי.
        </li>
        <li class="order-list__item">
          <div class="order-list__nmb">2.</div>
          מיידע נוסף על התוכנית ואף תקבלי חובר מודפס. <br>
  בראיון גם נסביר על כל התהליך כמו איך בוחרים משפחה מתאימה, אתר הארגון, 
  במהלך הראיון נעבור אתך על כל הטפסים והניירת . 
        </li>
        <li class="order-list__item">
          <div class="order-list__nmb">3.</div>
          הטפסים  יעברו בדיקה, עיבוד ותרגום, יעלו לאתר הארגון וישלחו לארה"ב.
        </li>
        
      </ol>

      <ol class="order-list order-list--manual order-list--accent">
        <li class="order-list__item">
          <div class="order-list__nmb">4.</div>
           ההחלטה הסופית היא שלך. 
  השיחות עם המשפחות יכולות להיות ארוכות וממצאות,  לרוב יהיו יותר משיחה אחת.
  תקבלי מייל מהארגון שיידע אותך שמשפחה עומדת ליצור אתך קשר
  האתר שלך יופנה למשפחות הכי מתאימות, שעונות על היכולות והדרישות שלך. 
        </li>
        <li class="order-list__item">
          <div class="order-list__nmb">5.</div>
          .ןוגראב ךלש רתאל השיג דוק םעו תלבקתהש רושיא םע ןוגראהמ ליימ ילבקת
  .ךלש ישיאה רתאה תא תוארל רתאל יסנכיהו דוקה תא ירמש

        </li>
        <li class="order-list__item">
          <div class="order-list__nmb">6.</div>
          ראיון בשגרירות וטיסה לארה"ב. <br>
          אנחנו נדאג לארגן את הניירת לוויזה. <br>
          חשוב שיהיה לך דרכון בתוקף לפחות לעוד שנה מיום הטיסה.  <br>
          בהצלחה!
        </li>
      </ol>

    </div>

    <div class="s-step-0__img">
      <img class="js-lazy" src="" alt="" data-src="./img/steps/01.jpg"/>
    </div>
  </div>
</section>
<!-- end s-step-0 -->