<!-- begin s-step -->
<section class="s-step s-step--1">
  <div class="container container--lg">
    <h2 class="s-step__title title title--h2-sm title--accent-sec">
      מכתב למשפחה
    </h2>
    <div class="s-step__subttl">
      המכתב בעברית צריך להיות באורך של כ-003 מילים ושיכלול את 4 החלקים
    </div>

    <div class="s-step--1__inner">
      <div class="s-step--1__right">
        {{ mixins.input(
          name = 'textarea',
          mod = 'input--steps',
          type = '',
          placeholder = '',
          value = '',
          fieldClass = ''
        ) }}
      </div>

      <div class="s-step--1__left article">
        <h4 class="color-accent-sec">
          חלק ראשון (051 מילים):
        </h4>

        <ul>
          <li>שמך, אזור לידה )אם עלית לארץ – תאריך עלייה וקצת מיידע על ארץ המוצא(</li>
          <li>פרטים על ההורים והאחים – שם, גיל, תעסוקה</li>
          <li>,םייתחפשמ םיביבחת ,תכמותו המח החפשמ – יתחפשמה רשקה</li>
          <li>מידע על ההשכלה – יסודי, תיכוני, על תיכוני,</li>
          <li>התנדבות, תנועת נוער, פעילות מיוחדת וכדומה,</li>
          <li>שרות לאומי וצבאי,</li>
          <li>למשפחה תמונה רחבה וחיובית עלייך.
  אהבתך לחיות, אלרגיות, מגבלות אוכל (במידה ויש) ועוד כל מיידע מועיל שייתן </li>
        </ul>

        <h4 class="color-accent-sec">
          חלק שני (05 מילים):
        </h4>

        <p>תחביבים ופעילות שלך בזמנך החופשי, טיול בארץ ובעולם, לפרט, לפחות 001 מילים.</p>

        <h4 class="color-accent-sec">חלק שלישי (05 מילים):</h4>
        <p>עבודתך עם ילדים– פרטי את התקופה, מהות הפעילות, שם הילדים, גילאים, אהבתך לילדים.</p>

        <h4 class="color-accent-sec">חלק רביעי (05 מילים):</h4>
        <p>למה את רוצה להיות אופר?</p>
      </div>      
    </div>
  </div>
</section>
<!-- end s-step -->