{%set
blocks = [
  { mod: 'block--lg block--accent-thrd', title: 'מה מקבלים?' },
  { mod: 'block--lg block--accent-sec', title: 'מה תנאי ההשתתפות?' },
  { mod: 'block--lg ', title: 'מה שלבי התוכנית?' }
]
%}

<!-- begin s-accent-btn -->
<section class="s-accent-btn">
  {% include "partials/_blocks.html" %}

  <!-- begin accent-btn-block -->
  <div class="s-accent-btn__block accent-btn-block">
    <h2 class="accent-btn-block__title title title--h2">
     {# אלפי בנות כבר השתתפו, ואת? חוויה מדהימה וההזדמנות לשנה הטובה בחייך… #}
     <p>חוויה מדהימה וההזדמנות לשנה הטובה בחייך… </p>
     <p>אלפי בנות כבר השתתפו, ואת?</p>
     <p></p>
    </h2>

    <div class="accent-btn-block__text text--400">
      אנו מייצגים את הארגון במשך למעלה מ 22 שנים ומאחורינו חברת האם הממוקמת בארצות הברית ושמפעילה תוכנית ממשלתית אמריקאית – הכול חוקי, בטוח ומקצועי. נשמע מסובך? עם חברת אופר אין אמריקה התהליך הופך להיות פשוט וידידותי. אנחנו מלווים אותך בכל שלבי התהליך, תורמים מניסיוננו ועוזרים לך לאתר את המשפחה המתאימה במיקום שבחרת.
    </div>

    <div class="accent-btn-block__btn">
      {{ mixins.btn(
        title = 'מלאי את הטופס ואת בדרך לארצות הברית',
        mod = 'btn--light'
      ) }}
    </div>
  </div>
  <!-- end accent-btn-block -->
</section>
<!-- end s-accent-btn -->