<!-- begin s-blue-btn -->
<section class="s-blue-btn">
  <h2 class="s-blue-btn__title title title--h2">
    ?רפוא תויהל רמוא הז המ
  </h2>

  <div class="s-blue-btn__text text">
    <p>.לוכה תבלשמ תחאו םייוליבב תחא ,םילויטב תחא ,םידומילב העיקשמ תחא – תרחא הרוצב הנשה תא הווח תירבה תוצראב דובעל תעסונש תירפוא לכ</p>
    <p>.רתויב תיתימאה ךרדב תירבה תוצרא תא תווחל המיהדמ תורשפא הז הקירמאב רפוא תויהל</p>
    <p>.לוכה תבלשמ תחאו םייוליבב תחא ,םילויטב תחא ,םידומילב העיקשמ תחא – תרחא הרוצב הנשה תא הווח תירבה תוצראב דובעל תעסונש תירפוא לכ </p>
  </div>
  
  {{ mixins.btn(
    title = 'ףסונ עדימ',
    mod = 'btn--blue-light'
  ) }}

</section>
<!-- end s-blue-btn -->