<!-- begin s-blue-btn -->
<section class="s-blue-btn">
  <h2 class="s-blue-btn__title title title--h2">
   מה זה אומר להיות אופר?
  </h2>

  <div class="s-blue-btn__text text">
    <p>כל אופרית שנוסעת לעבוד בארצות הברית חווה את השנה בצורה אחרת – אחת משקיעה בלימודים, אחת בטיולים, אחת בבילויים ואחת משלבת הכול.</p>
    <p>להיות אופר באמריקה זה אפשרות מדהימה לחוות את ארצות הברית בדרך האמיתית ביותר.</p>
    <p>לא נוסעים "לעבוד" על האמריקאים אלה נוסעים בשליחות כדי להיות אופר בחו"ל ולייצג את ישראל, ללמוד על התרבות האמריקאית וללמד את המשפחה על התרבות הישראלית.</p>
  </div>
  
  {{ mixins.btn(
    title = 'מידע נוסף',
    mod = 'btn--accent-sec-light'
  ) }}

</section>
<!-- end s-blue-btn -->