{%set
articles = [
  {
    title: { mod: 'title--accent', title: '!יכה יכה הז יקוח' },
    text: '
      <p>.תירבה תוצרא תורירגש ידי לע תרשואמו יאקירמאה לשממה חוקיפ תחת תאצמנ תירבה תוצראב רפוא תינכות</p>
      <p>.םימלוה םיילאיצוס םיאנתו ימואל חוטיב סיטרכ תוברל ,תירבה תוצראב תיקוח תדבוע לכל הווש יתקוחה ןדמעמו הדובע תזיוו תקנעומ תורשואמה תופתתשמל</p>
      <p>.תיתריכמ וא תיביסרגא אלו ,תיקוח ,המיענ הדובע וז ב"הראב רפוא תויהל .תוריכמב אל ךא ל"וחב הדובע יהוז .תולגעב אל ,תירבה תוצראב הדובע יהוז :תורקי תונב</p>
      <p>!ךייחב הבוטה הנשלו תירבה תוצראל סוטמ לע ךתוא הלעיש ךילהתה תא ליחתהלו רשק רוציל תנמזומ תא ,הלא םיאנתב תדמוע תא םע</p>
    '
  },
  {
    title: { mod: 'title--accent-thrd', title: '!ךלש הריחבה' },
    text: '
      <p>.ינדפק ןוניס ורבעו ונינפל ןתודמעומ תא וגיצה רשא תוחפשמ רפסמ ךל םיעיצמ ונחנא ,ונתסיפתמ קלחכ</p>
      <p>.ךייתושירדל םאתהב ,םתוא תרשאמו םהמ תמשרתמ ,החפשמה םע תחחושמ תא החפשמה תריחב ינפלש ןבומכ</p>
      <p>.םלועב תוקתרמה םירעה תחאמ תונהילו קרוי וינב רפוא תויהל ,לשמל ,ילכות</p>
    '
  },
  {
    title: { mod: 'title--accent-sec', title: '!ךרדה לכ ךל םיגאוד ' },
    text: '
      <p>.הפועתה הדשב יתחנתשכ ךיינפ תא לבקי תירבה תוצראב םאה ןוגרא יגיצנ</p>
      <p>.החפשמה תיבל יעיגתש ינפל ,לודגה חופתב םייתיווח םימי השולשל קרוי וינ דיל הזאלפ ןולמב הכרדהה זכרמל רשי יעסת ,םשמ</p>
      <p>.יתרבח שוביגל םיישדוח םישגפמבו ךלש רוזאב תורחאה תוירפואה לכ לש תיתרבח תוליעפ םע הנשה לש ךלהמב םכתושרל דומעי ןוגראה</p>
    '
  }
]
%}

<!-- begin s-color-titles -->
<section class="s-color-titles">
  <div class="s-color-titles__img">
    <img class="js-lazy" alt="" src="" data-src="./img/Rectangle-19.jpg"/>
  </div>

  <div class="s-color-titles__content">
    {% for i in articles %}
    <div class="section-block">
      <h2 class="section-block__title title title--h2{% if i.title.mod %} {{ i.title.mod }}{% endif %}">{{ i.title.title | safe }}</h2>

      <div class="section-block__text">{{ i.text | safe }}</div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- end s-color-titles -->