{%set
articles = [
  {
    title: { mod: 'title--accent', title: 'חוקי זה הכי הכי! ' },
    text: '
      <p>למשתתפות המאושרות מוענקת וויזת עבודה ומעמדן החוקתי שווה לכל עובדת חוקית בארצות הברית, לרבות כרטיס ביטוח לאומי ותנאים סוציאליים הולמים.</p>
      <p>בנות יקרות: זוהי עבודה בארצות הברית, לא בעגלות. זוהי עבודה בחו"ל אך לא במכירות. להיות אופר בארה"ב זו עבודה נעימה, חוקית, ולא אגרסיבית או מכירתית.</p>
      <p> עם את עומדת בתנאים אלה, את מוזמנת ליצור קשר ולהתחיל את התהליך שיעלה אותך על מטוס לארצות הברית ולשנה הטובה בחייך!</p>
      <p>!ךייחב הבוטה הנשלו תירבה תוצראל סוטמ לע ךתוא הלעיש ךילהתה תא ליחתהלו רשק רוציל תנמזומ תא ,הלא םיאנתב תדמוע תא םע</p>
    '
  },
  {
    title: { mod: 'title--accent-thrd', title: 'הבחירה שלך! ' },
    text: '
      <p>כחלק מתפיסתנו, אנחנו מציעים לך מספר משפחות אשר הציגו את מועמדותן לפנינו ועברו סינון קפדני.</p>
      <p> כמובן שלפני בחירת המשפחה את משוחחת עם המשפחה, מתרשמת מהם ומאשרת אותם, בהתאם לדרישותייך. </p>
      <p>תוכלי, למשל, להיות אופר בניו יורק וליהנות מאחת הערים המרתקות בעולם.</p>
    '
  },
  {
    title: { mod: 'title--accent-sec', title: 'דואגים לך כל הדרך!' },
    text: '
      <p> נציגי ארגון האם בארצות הברית יקבל את פנייך כשתנחתי בשדה התעופה. </p>
      <p>משם, תסעי ישר למרכז ההדרכה במלון פלאזה ליד ניו יורק לשלושה ימים חוויתיים בתפוח הגדול, לפני שתגיעי לבית המשפחה. </p>
      <p>הארגון יעמוד לרשותכם במהלך של השנה עם פעילות חברתית של כל האופריות האחרות באזור שלך ובמפגשים חודשיים לגיבוש חברתי.</p>
    '
  }
]
%}

<!-- begin s-color-titles -->
<section class="s-color-titles">
  <div class="s-color-titles__img">
    <img class="js-lazy" alt="" src="" data-src="./img/Rectangle-19.jpg"/>
  </div>

  <div class="s-color-titles__content">
    {% for i in articles %}
    <div class="section-block">
      <h2 class="section-block__title title title--h2{% if i.title.mod %} {{ i.title.mod }}{% endif %}">{{ i.title.title | safe }}</h2>

      <div class="section-block__text">{{ i.text | safe }}</div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- end s-color-titles -->