{%set
items = [
  {
    imgMod: '',
    img: '24.png',
    text: 'רפי רשף מראיין בערוץ 01 את מנכ"ל הארגון בארץ, דני ארן, בנושא וויזות עבודה בארה"ב….'
  },
  {
    imgMod: '',
    img: '25.png',
    text: 'ראיון עם מנכ"ל הארגון דני ארן בחדשות הבוקר בנושא וויזות עבודה חוקיות לארה"ב….'
  },
  {
    imgMod: '',
    img: '22.png',
    text: 'ראיונות עם אופריות בדרך לארה"ב וכאלה שכבר  שם...'
  },
  {
    imgMod: '',
    img: '21.png',
    text: 'כרטיס טיסה לארה"ב, מגורים, כלכלה, רכב ודמי כיס 005 משפחות יהודיות מציעות לצעירים ויזת עבודה חוקית למשך שנה,'
  },
  {
    imgMod: '',
    img: '23.png',
    text: 'דולרית שעולה בכמה דרגות על המשכורות בארץ. עבודה בארה"ב מאפשרת לישראלים להרוויח משכורת'
  },
  {
    imgMod: 'item-img-btn__img--gap',
    img: '26.png',
    text: 'בזמנו, הסנטור ליברמן היה מועמד להיות סגן נשיא ארצות הברית. הסנטור ליברמן הוא יהודי דתי מודרני…. קרן דדון הייתה אופרית אצל משפחת הסנטור ליברמן בקונטיקט.'
  }
]
%}

<!-- begin s-items-img-btn -->
<section class="s-items-img-btn">
  <h2 class="s-items-img-btn__title title title--h1 title--accent-thrd title--shadow">
   מה אומרים עלינו בעיתונות ובטלויזיה?
  </h2>

  <div class="s-items-img-btn__items items-img-btn">
    {% for i in items %}
    <div class="items-img-btn__item item-img-btn">
      <div class="item-img-btn__img{% if i.imgMod %} {{ i.imgMod }}{% endif %}">
        <img class="js-lazy" alt="" src="" data-src="./img/img-btn/{{ i.img }}"/>
      </div>

      <div class="item-img-btn__text">{{ i.text | safe }}</div>

      <div class="item-img-btn__btn">
        {{ mixins.btn(
          title = 'לכתבה המלאה >',
          mod = 'btn--accent-sec'
        ) }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- end s-items-img-btn -->
