{%set
cards = [
  {
    mod: 'card--accent-thrd',
    title: 'אופר אין אמריקה…',
    text: 'וחוויה ייחודית ובלתי נשכחת! אלפי בנות כבר השתתפו בתוכנית הארגון אופר אין אמריקה מציעה לך עבודה חוקית בארה"ב יש רק דרך אחת לעבוד בארצות הברית והיא הדרך החוקית. זו לא עוד עבודה בארה"ב, זו חוויה בלתי נשכחת…',
    img: 'court-cook-6j79Y9G3Dfo-unsplash 1.jpg',
    btn: { title: '', mod: 'btn--accent-thrd' }
  },
  {
    mod: 'card--accent-sec',
    title: 'התוכנית והתהליך',
    text: 'ולשדרג את עצמך בכל התחומים. ללמוד ולחיות בארץ האפשרויות הבלתי מוגבלות את יכולה לעשות שינויי בחייך ולהשתתף בתוכנית באופן חוקי, אלפי בנות מישראל בדרכן להיות אופר בארצות הברית. במהלך 22 השנים האחרונות, אופר אין אמריקה ליווה המטרה: חוויה בלתי נשכחת לכל החיים!',
    img: 'jonathan-borba-0cR4vsib0uY-unsplash 1.jpg',
    btn: { title: '', mod: 'btn--accent-sec' }
  },
  {
    mod: '',
    title: 'מה זה אופר?',
    text: 'וללמד על התרבות שלך, הישראלית. זאת אפשרות לצעירות להכיר את התרבות האמריקאית מעבר לתקופת העבודה. ניסיון תרבותי, שלעיתים קרובות מוביל ליחסים ארוכי טווח אופר הופכת לחלק מהמשפחה המארחת וחולקת עימה פירוש המילה riap ua - שווה, כלומר מתקבלת כשווה במשפחה,',
    img: 'pabbathi-prashanth-fSsNuMtYg00-unsplash 1.jpg',
    btn: { title: '', mod: '' }
  }
]
%}

<!-- begin s-cards-lg -->
<section class="s-cards-lg">
  <!-- begin cards -->
  <div class="cards">
    {% for i in cards %}
    <!-- begin card -->
    <div class="cards__item card {{ i.mod }}">
      <div class="card__inner">
        <h2 class="card__title title title--h2">{{ i.title | safe }}</h2>

        <div class="card__text">{{ i.text | safe }}</div>

        <div
          class="card__img js-lazy"
          data-background-image="./img/cards/{{ i.img }}"
        ></div>

        <div class="card__btn">
          {{ mixins.btn(
            title = i.btn.title or 'קראי עוד',
            mod = i.btn.mod
          ) }}
        </div>
      </div>
    </div>
    <!-- end card -->
    {% endfor %}
  </div>
  <!-- end cards -->
</section>
<!-- end s-cards-lg -->