<!-- begin s-label-list -->
<section class="s-label-list">
  <h2 class="title-label title-label--accent title title--h2">עבודה חוקית בארה"ב</h2>


  <div class="s-label-list__block">

    <div class="s-label-list__img-wrap">
      <div class="s-label-list__img">
        <img class="js-lazy" alt="" src="" data-src="./img/34382444_10216965781441415_6613566654435557376_n.jpg"/>
      </div>
    </div>

    <div class="s-label-list__content text">
      <p>
        באופן חוקי למהדרין, לטפל בילדים, ללמוד אנגלית ולחסוך כסף, הרבה כסף.      
יש דבר כזה – תוכנית אופר אין אמריקה. לעבוד בארצות הברית,        
האם שמעתן על עבודה חוקית בארצות הברית?        
האם שמעתן פעם על עבודה בחול לא במכירות? האם שמעתן על עבודה בארה"ב לא בעגלות?
    </p>

      <p>
        <div class="color-accent">יש רק דרך אחת לעבוד באופן חוקי בארצות הברית.</div>
        המחזיקים בוויזה יוקרתית זו רשאים לעבוד, להרוויח כסף, ללמוד ליהנות מתנאים סוציאליים ולהיות חלק ממערך העובדים בארצות הברית.        
שגרירות ארצות הברית מנפיקה וויזת עבודה רשמית לעומדים בכל הדרישות. רק מי שמחזיק בוויזת עבודה רשאי לעבוד בתחומי ארצות הברית.        
תוכנית האופר הינה תוכנית ממשלתית אמריקאית לחילופי תרבויות ומטרתה לחשוף משפחות מארה"ב לתרבות אחרת ואותך לתרבות האמרקאית.
      </p>

      <p>
        <span class="color-accent">חשוב לדעת:</span>
       יזת 1J– היחידה שמאפשרת עבודה ושהייה חוקית בארצות הברית.        
  וויזת עבודה חוקית בארה"ב מנפיקים בישראל על ידי מילוי הטפסים המתאימים ועמידה בכל הדרישות המוקדמות. 
      </p>

      <p>
        <div class="color-accent">חברת אופר אין אמריקה מגשימה לך את החלום – עבודה חוקית באמריקה.</div>
        אז למה לכן? יש דרך בטוחה, טובה ומשתלמת – להיות אופר בארצות הברית.        
מי שנתפס כעובד לא חוקי מסתכן בישיבה בכלא, גירוש וחותמת שחורה שתמנע ממנו לשוב לשטח ארצות הברית לאלתר.        
בשנים האחרונות, מקפידה ממשלת ארצות הברית להילחם בתופעת העובדים הלא חוקיים השוהים בתחומה, מכל העולם וגם מישראל.        
מוכרת על ידי הממשל והיא חוקית לחלוטין. אין צורך לפחד ממשטרת הגירה, אין צורך לחשוש מבדיקות פתע – הכול מסודר, חוקי ומאושר.        
חברת אופר אין אמריקה פועלת כבר 51 שנה יחד עם שגרירות ארצות הברית ובשיתוף הממשל הפדרלי. העבודה כאופר במשפחה אמריקאית
      </p>
    </div>
  </div>

  <div class="s-label-list__list-blocks">
    <div class="s-label-list__list-block">
      <h4 class="s-label-list__block-title title title--h4 title--accent">יתרונות העבודה החוקית בארצות הברית:</h4>

      {{ mixins.list(
        name = 'list',
        modifications = { wrap: '', item: 'list__item', link: '' },
        list = [
          { item: '<i class="ic ic--check list__icon"></i> משכורת מסודרת ומשתלמת' },
          { item: '<i class="ic ic--check list__icon"></i>  תנאים סוציאליים מעולים' },
          { item: '<i class="ic ic--check list__icon"></i>  אישור שהייה חוקי בארצות הברית' },
          { item: '<i class="ic ic--check list__icon"></i>  אפשרות ללימודים באחת המכללות בארצות הברית' },
          { item: '<i class="ic ic--check list__icon"></i>  אפשרות להארכת הוויזה לעוד שנה,' },
          { item: '<i class="ic ic--check list__icon"></i>  שעות עבודה קבועות והוגנות.' }
        ]
      ) }}
    </div>

    <div class="s-label-list__list-block">
      <h4 class="s-label-list__block-title title title--h4 title--accent">:תירבה תוצראב רפוא תדובע תונורתי</h4>

      {{ mixins.list(
        name = 'list',
        modifications = { wrap: '', item: 'list__item', link: '' },
        list = [
          { item: '<i class="ic ic--check list__icon"></i>  להרוויח כסף מעולה בארצות הברית.' },
          { item: '<i class="ic ic--check list__icon"></i>  הדרכה מקצועית בניו יורק.' },
          { item: '<i class="ic ic--check list__icon"></i>  להכיר את התרבות האמריקאית מקרוב.' },
          { item: '<i class="ic ic--check list__icon"></i>  לשפר את האנגלית.' },
          { item: '<i class="ic ic--check list__icon"></i>  לא צריך לדעת למכור…' },
          { item: '<i class="ic ic--check list__icon"></i>  עבודה עם ילדים – יש יותר כיף מזה?' },
          { item: '<i class="ic ic--check list__icon"></i>  אלא גם משפחה גדולה שהדריכה והגשימה אלפי חלומות במשך 51 שנים. אופר אין אמריקה היא לא רק עבודה חוקית בארצות הברית' }
        ]
      ) }}
    </div>
  </div>

  <!-- begin accent-btn-block -->
  <div class="s-label-list__btn-block accent-btn-block">
    <h2 class="accent-btn-block__title title title--h2">
     המטוס מחכה…
    </h2>

    <div class="accent-btn-block__text text--400">
     זה הזמן שלך ליהנות, לחוות תרבות אחרת, לשפר את כישורי השפה שלך ולהתנסות בחוויה ייחודית ומרגשת.
    </div>

    <div class="accent-btn-block__btn">
      {{ mixins.btn(
        title = 'מלאי את הטופס ואת בדרך לארצות הברית',
        mod = 'btn--light'
      ) }}
    </div>
  </div>
  <!-- end accent-btn-block -->
</section>
<!-- end s-label-list -->
