{%set
blocks = [
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: "הויזה לארה''ב"
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "מידע כללי"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "תשלום מיסים"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "ביטוח רפואי"
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: "בשעת חרום"
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "הלם תרבותי"
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: "נהיגה בארה''ב"
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "חינוך"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "אכילה בריאה"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "טיפים לשנה מוצלחת"
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: "ביטחון אישי"
  }
]
%}

<!-- begin s-label-img-blocks -->
<section class="s-label-img-blocks">
  <h2 class="title-label title-label--accent-sec title title--h2">מידע חיוני לטסות</h2>

  <div class="s-label-img-blocks__block">
    <div class="s-label-img-blocks__img-wrap">
      <div class="s-label-img-blocks__img">
        <img class="js-lazy" alt="" src="" data-src="./img/actionvance-6_741dg4VwY-unsplash.jpg"/>
      </div>
    </div>

    <div class="s-label-img-blocks__text">
     <div class="s-label-img-blocks__text-in">
        אנא קראי את כול החומר ובמידה ומתעוררת שאלה על תהססי לפנות אלינו. אנו מצרפים כאן קישורים לחומר החשוב ביותר. בעמודים האישיים שלך באתר הארגון תמצאי חומר רב שיעזור לך לעבור את התהליך בקלות.
     </div>
    </div>
  </div>
  

  <div class="blocks__wrap">
    {% include "partials/_blocks.html" %}
  </div>
</section>
<!-- end s-label-img-blocks -->