<!-- begin s-label-dates -->
<section class="s-label-dates">
  <h2 class="title-label title-label--accent-thrd title title--h2">תוסיט חול</h2>

  <!-- begin dates-block -->
  <div class="dates-block">
    <div class="dates-block__img">
      <div class="dates-block-img">
        <img class="js-lazy" alt="" src="" data-src="./img/leio-mclaren-leiomclaren-FwdZYz0yc9g-unsplash.jpg"/>
      </div>      
    </div>

    <div class="dates-block__content">
      <div class="dates-block__text">
        .הנשה ךלהמב תוסיט 35 כ ,ינש םויב בורל תואצוי תוסיטה .הסיטל םיננוכתמו הדובע תזיוו םילבקמ החפשמה תריחב רחאל .החפשמה תיבל תונבה תורבוע םשמו ןוטליה תצובקמ ןולמה תיבב תומלתשהה ימי השולשל ב"הראל תועיגמה תוירפוא 100-150 כ הסיט לכב
      </div>

      <div class="dates-block__list dates-block-list">
        <h4 class="dates-block-list__title title title--h4">:2019 תנשל תוסיט חול</h4>

        {{ mixins.list(
          name = 'dates-list',
          modifications = { list: 'dates-block-list__list dates-list', item: 'dates-list__item', link: '' },
          list = [
            { item: '<i class="ic ic--plane dates-list__icon"></i> 21 ,07 <strong>:ראוני </strong> ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 19 ,04 <strong>:ראורבפ  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 18 ,04 <strong>:ץרמ  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 29 ,15 ,01 <strong>:לירפא  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 29 ,13 <strong>:יאמ  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 24 ,10 <strong>:ינוי </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 29 ,22 ,15 ,08 <strong>:ילוי  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 26 ,19 ,12 ,05 <strong>:טסוגוא  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 23 ,16 ,04 <strong>:רבמטפס  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 28 ,21 ,07 <strong>:רבוטקוא  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 18 ,04 <strong>:רבמבונ  </strong>' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> 28 ,11 ,02 <strong>:רבמצ</strong> ' }
          ]
        ) }}
      </div>
    </div>
  </div>
  <!-- end dates-block -->
</section>
<!-- end s-label-dates -->
