<!-- begin s-label-dates -->
<section class="s-label-dates">
  <h2 class="title-label title-label--accent-thrd title title--h2">לוח טיסות</h2>

  <!-- begin dates-block -->
  <div class="dates-block">
    <div class="dates-block__img">
      <div class="dates-block-img">
        <img class="js-lazy" alt="" src="" data-src="./img/leio-mclaren-leiomclaren-FwdZYz0yc9g-unsplash.jpg"/>
      </div>      
    </div>

    <div class="dates-block__content">
      <div class="dates-block__text">
        בכל טיסה כ 051-001 אופריות המגיעות לארה"ב לשלושה ימי ההשתלמות בבית המלון מקבוצת הילטון ומשם עוברות הבנות לבית המשפחה. לאחר בחירת המשפחה מקבלים וויזת עבודה ומתכוננים לטיסה. הטיסות יוצאות לרוב ביום שני, כ 53 טיסות במהלך השנה.
      </div>

      <div class="dates-block__list dates-block-list">
        <h4 class="dates-block-list__title title title--h4 title--accent-thrd">לוח טיסות לשנת 9102:</h4>

        {{ mixins.list(
          name = 'dates-list',
          modifications = { list: 'dates-block-list__list dates-list', item: 'dates-list__item', link: '' },
          list = [
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong>ינואר: </strong> 21 ,07  ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> <strong> פברואר:</strong>19 ,04 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong> מרץ:</strong> 18 ,04 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong> אפריל: </strong> 29 ,15 ,01 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong>  מאי:</strong> 29 ,13 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i> <strong> יוני:</strong>24 ,10 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong> יולי: </strong> 29 ,22 ,15 ,08 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong>  אוגוסט:</strong> 26 ,19 ,12 ,05 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong>  ספטמבר:</strong> 23 ,16 ,04 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong>  אוקטובר:</strong> 28 ,21 ,07 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong>  נובמבר:</strong> 18 ,04 ' },
            { item: '<i class="ic ic--plane dates-list__icon"></i><strong>צמבר:</strong> 28 ,11 ,02  ' }
          ]
        ) }}
      </div>
    </div>
  </div>
  <!-- end dates-block -->
</section>
<!-- end s-label-dates -->
