<!-- begin s-label-text -->
<section class="s-label-text">
  <div class="title-label title-label--accent-thrd title title--h2">מי אנחנו?</div>

  <div class="s-label-text__text">
    אתם מוזמנים להיכנס לאתר הארגון בארה"ב בכתובת moc.sfia.www או לאתר השגרירות האמריקאית בישראל בכתובת li.gro.learsi-yssabmesu.www//:ptth/ המפעיל תוכניות שונות לעבודה או התמחות בארה"ב. אנחנו חברים בלישכת המסחר אנריקה ישראל וכן מייצגים את ישראל בארגון האופר העולמי APAI. התוכנית בפיקוח ובחסות ממשלת ארה"ב והשגרירות בתל אביב ובירושלים. אופר אין אמריקה ישראל נמצאת בבעלות קבוצת CECI – המרכז הישראלי לחילופי תרבויות כל שנה מגיעות כ 0004 אופריות לעבוד ולבלות בחברת משפחה אמריקאית. הארגון הוא הגדול מסוגו בארה"ב. במסגרת הארגון מגיעים כל שנה כ 000,57 צעירים לארה"ב. הארגון עובד בחסות תוכנית ממשלתית אמריקאית לחילופי תרבויות. אופר אין אמריקה נוסד בארה"ב לפני 73 שנים ומטרתו – לימודים גבוהים בארה"ב, חילופי סטודנטים, הבאת מדריכים למחנות קיץ בארה"ב וחילופי תרבויות. הסניף הישראלי של אופר אין אמריקה נפתח בשנת 7991 כנציג הבלעדי בישראל של הארגון המתמחה בעבודות חוקיות בארה"ב .
  </div>
</section>
<!-- end s-label-text -->