{%set
blocks = [
  {
    title: 'עצמאות',
    text: 'למרות העזרה הרחבה מהארגון ומהמשפחה את חייבת לגלות עצמאות ולהוציא מתוכך תכונות שעד כה לא ידעת שיש לך. 
להירשם ללימודים, להתמצא בנהיגה, לפעמים להוציא רישיון נהיגה.
כשאת אופר בניו יורק או בכל מקום אחר בארה"ב את חייבת להיות עצמאית – לפתוח חשבון בנק, '
  },
  {
    title: 'חוויות',
    text: 'האמריקאים סגורים ואינם מכניסים איש לביתם אך בתוכנית זאת, אופר בחול, את נחשפת להוויה האמריקאית באופן ישיר ומלא. כאופר בארצות הברית את לומדת על התרבות האמריקאית באופן הכי ישיר ומלא כי המשפחה מקבלת אותך כחלק מהם. החוויות שאופר בלוס אנגלס או אופר בניו יורק חווה שונה בתכלית לחוויות שחווה ישראלי שמגיע לעבוד בדוכנים או כתייר.'
  },
  {
    title: 'שפה',
    text: 'לקרוא חוברות באנגלית ולאחר מכן ספרים. אין ספק שלהיות אופר בחו"ל משפר את האנגלית – יתרון אדיר להמשך החיים. שנה שלמה, 42 שעות ביממה )כמעט( את מדברת אנגלית ואנגלית בלבד. בתחילה זה יהיה מוזר, אחרי תקופה קצרה עוברים גם באם האנגלית שלך לפני הטיסה לא הייתה טובה, לאחר שנה כאופר בארצות הברית, האנגלית שלך תשתפר לרמת שפת אם!'
  },
  {
    title: ' טיולים',
    text: ')כמו כל משפחה אמריקאית( ומשתמשים בהם לטיולים מעולים וזולים. אתה מכיר את כל האפשרויות לחסוך בטיסות, בהשכרת הרכב, בבתי המלון . במהלך השנה אוספים קופונים חופשה בתשלום ועוד חודש טיולים בסוף השנה.טיול בארה"ב, כאשר אתה תושב, שונה מאוד מטיול של תייר – כתושב לרוב, אופר באמריקה עובדת חמישה ימים בשבוע ובסופי שבוע מטיילים. בנוסף, במהלך השנה האופר זכאית לשבועיים'
  },
  {
    title: ' חברה',
    text: 'במהלך השנה האופריות בכול שכונה מתחברות ולאחר שנה יש לך חברות מגרמניה, ברזיל, יפן וכדומה – וזאת חברות לכול החיים. וכאופר בחו"ל אנחנו נחשפים לאופריות מכול העולם! עד הגיוס לצבא, לרוב, החברה הקרובה הייתה מהשכונה ומבית הספר. בצבא ובשרות הלאומי נחשפנו לחברים מכול הארץ.'
  },
  {
    title: 'משפחה',
    text: 'רשלהם במהלך השנים בחגיגות משפחתיות.לאחר החזרה לארץ רוב האופריות חוזרות ומבקרות שוב ושוב את המשפחה המארחת. המשפחה המארחת, בסוף השנה, היא משפחתך האמריקאית לשנים רבות מאוד –מקובל מאוד שמשפחה כזאת מארחת את האופ'
  },
  {
    title: 'כסף',
    text: 'רק להוצאות נוספות אבל כתושבת מקומית את לומדת מהר מאוד איך לקנות חכם ובזול. מכיוון שהוצאות היום יום משולמות – הביטוח, המגורים, הכלכלה וכדומה הכסף שהאופר בארה"ב מקבלת משמש ישנן אופריות בארה"ב שמבלות בקניות, בטיולים, בהופעות ולא חוסכות וישנן כאלה שחוסכות סכום נכבד – כל אחת ודרכה.'
  },
  {
    title: 'לימודים',
    text: 'אחרות מנצלות את הלימודים כדי לרכוש קרדיט ללימודים בארץ. יש אופריות באמריקה שמנצלות את שנת האופר כהכנה ללימודי תואר – במהלך השנה הן עוברות את מבחן הפסיכומטרי האמריקאי, משפרות את האנגלית ונרשמות ללימודי תואר. תוכנית הלימודים מאפשרת לכל אופר בארצות הברית ללמוד בקורסים שמעניינים אותה – אנגלית, תרבות אמרקאית, מחשבים או כל נושא אחר. תוכנית הלימודים מאפשרת לאופרית בבוסטון ללמוד באוניברסיטת הארוורד, או לאופרית מניו יורק ללמוד באוניברסיטת קולומביה ולהיחשף לחיי הסטודנטים במקומות אלה.'
  }
]
%}

{%set
images = [
  { img: 'A274891-bhattacharyya-2.jpg' },
  { img: 'IMG-9976.jpg' },
  { img: 'senjuti-kundu-JfolIjRnveY-unsplash.jpg' },
  { img: 'ice-skating.jpg' }
]
%}

<!-- begin s-label-text-images -->
<section class="s-label-text-images">
  <h2 class="title-label title-label--accent title title--h2">החיים כאופר</h2>

  <div class="s-label-text-images__block-sm text-photos-block text-photos-block--sm">
    <div class="text-photos-block__img">
      <div class="text-img text-img--md-side text-img--accent">
        <img class="js-lazy" alt="" src="" data-src="./img/274200-grewe-breckman-3-1.jpg"/>
      </div>
    </div>

    <div class="text-photos-block__text">
     וללמד את המשפחה על התרבות הישראלית. כדי להיות אופר בחו"ל ולייצג את ישראל – ללמוד על התרבות האמריקאית האמיתית ביותר - לא נוסעים "לעבוד " על האמריקאים אלה נוסעים בשליחות להיות אופר באמריקה זה אפשרות מדהימה לחוות את ארצות הברית בדרך אחת משקיעה בלימודים, אחת בטיולים, אחת בבילויים ואחת משלבת הכול. כל אופרית שנוסעת לעבוד בארצות הברית חווה את השנה בצורה אחרת –
    </div>
  </div>



  <!-- begin right-images-block -->
  <div class="right-images-block">
    <h2 class="title title--h2 text-center">להיות אופר בארצות הברית:</h2>
    <div class="right-images-block__subttl text-center">כאשר שואלים אופר בארצות הברית מה היתרונות ומה החסרונות בלהיות אופר באמריקה הן מציינות ומדגישות את הנושאים הבאים:</div>
    
    <div class="right-images-block__imgs right-images">
      {% for i in images %}
      <div class="right-images__img">
        <img class="js-lazy" alt="" src="" data-src="./img/{{ i.img }}"/>
      </div>
      {% endfor %}
    </div>

    <div class="right-images-block__content">
      {% for i in blocks %}
      <div class="right-images-block__block">
        <h4 class="title title--h4 title--accent">{{ i.title | safe }}</h4>

        <div class="right-images-block__text">{{ i.text | safe }}</div>
      </div>
      {% endfor %}
    </div>

    
  </div>
  <!-- end right-images-block -->
</section>
<!-- end s-label-text-images -->
