{%set
blocks = [
  {
    title: 'תואמצע',
    text: ',קנב ןובשח חותפל – תיאמצע תויהל תבייח תא ב"הראב רחא םוקמ לכב וא קרוי וינב רפוא תאשכ .הגיהנ ןוישיר איצוהל םימעפל ,הגיהנב אצמתהל ,םידומילל םשריהל .ךל שיש תעדי אל הכ דעש תונוכת ךכותמ איצוהלו תואמצע תולגל תבייח תא החפשמהמו ןוגראהמ הבחרה הרזעה תורמל'
  },
  {
    title: 'תויווח ',
    text: '.רייתכ וא םינכודב דובעל עיגמש ילארשי הווחש תויווחל תילכתב הנוש הווח קרוי וינב רפוא וא סלגנא סולב רפואש תויווחה .םהמ קלחכ ךתוא תלבקמ החפשמה יכ אלמו רישי יכה ןפואב תיאקירמאה תוברתה לע תדמול תא תירבה תוצראב רפואכ .אלמו רישי ןפואב תיאקירמאה היווהל תפשחנ תא ,לוחב רפוא ,תאז תינכותב ךא םתיבל שיא םיסינכמ םניאו םירוגס םיאקירמאה'
  },
  {
    title: 'הפש',
    text: '!םא תפש תמרל רפתשת ךלש תילגנאה ,תירבה תוצראב רפואכ הנש רחאל ,הבוט התייה אל הסיטה ינפל ךלש תילגנאה םאב םג םירבוע הרצק הפוקת ירחא ,רזומ היהי הז הליחתב .דבלב תילגנאו תילגנא תרבדמ תא (טעמכ) הממיב תועש 24 ,המלש הנש .םייחה ךשמהל רידא ןורתי – תילגנאה תא רפשמ ל"וחב רפוא תויהלש קפס ןיא .םירפס ןכמ רחאלו תילגנאב תורבוח אורקל'
  },
  {
    title: ' םילויט',
    text: 'םייעובשל תיאכז רפואה הנשה ךלהמב ,ףסונב .םילייטמ עובש יפוסבו עובשב םימי השימח תדבוע הקירמאב רפוא ,בורל בשותכ – ריית לש לויטמ דואמ הנוש ,בשות התא רשאכ ,ב"הראב לויט.הנשה ףוסב םילויט שדוח דועו םולשתב השפוח םינופוק םיפסוא הנשה ךלהמב . ןולמה יתבב ,בכרה תרכשהב ,תוסיטב ךוסחל תויורשפאה לכ תא ריכמ התא .םילוזו םילועמ םילויטל םהב םישמתשמו (תיאקירמא החפשמ לכ ומכ)'
  },
  {
    title: 'הרבח ',
    text: '.ץראה לוכמ םירבחל ונפשחנ ימואלה תורשבו אבצב .רפסה תיבמו הנוכשהמ התייה הבורקה הרבחה ,בורל ,אבצל סויגה דע !םלועה לוכמ תוירפואל םיפשחנ ונחנא ל"וחב רפואכו .םייחה לוכל תורבח תאזו – המודכו ןפי ,ליזרב ,הינמרגמ תורבח ךל שי הנש רחאלו תורבחתמ הנוכש לוכב תוירפואה הנשה ךלהמב'
  },
  {
    title: 'החפשמ',
    text: 'רפואה תא תחראמ תאזכ החפשמש דואמ לבוקמ– דואמ תובר םינשל תיאקירמאה ךתחפשמ איה ,הנשה ףוסב ,תחראמה החפשמה .תחראמה החפשמה תא בושו בוש תורקבמו תורזוח תוירפואה בור ץראל הרזחה רחאל.תויתחפשמ תוגיגחב םינשה ךלהמב םהלש'
  },
  {
    title: 'ףסכ',
    text: '.הכרדו תחא לכ – דבכנ םוכס תוכסוחש הלאכ ןנשיו תוכסוח אלו תועפוהב ,םילויטב ,תוינקב תולבמש ב"הראב תוירפוא ןנשי שמשמ תלבקמ ב"הראב רפואהש ףסכה המודכו הלכלכה ,םירוגמה ,חוטיבה – תומלושמ םוי םויה תואצוהש ןוויכמ .לוזבו םכח תונקל ךיא דואמ רהמ תדמול תא תימוקמ תבשותכ לבא תופסונ תואצוהל קר'
  },
  {
    title: 'םידומיל',
    text: '.הלא תומוקמב םיטנדוטסה ייחל ףשחיהלו היבמולוק תטיסרבינואב דומלל קרוי וינמ תירפואל וא ,דרווראה תטיסרבינואב דומלל ןוטסובב תירפואל תרשפאמ םידומילה תינכות .רחא אשונ לכ וא םיבשחמ ,תיאקרמא תוברת ,תילגנא – התוא םיניינעמש םיסרוקב דומלל תירבה תוצראב רפוא לכל תרשפאמ םידומילה תינכות .ראות ידומילל תומשרנו תילגנאה תא תורפשמ ,יאקירמאה ירטמוכיספה ןחבמ תא תורבוע ןה הנשה ךלהמב – ראות ידומילל הנכהכ רפואה תנש תא תולצנמש הקירמאב תוירפוא שי .ץראב םידומילל טידרק שוכרל ידכ םידומילה תא תולצנמ תורחא'
  }
]
%}

{%set
images = [
  { img: 'A274891-bhattacharyya-2.jpg' },
  { img: 'IMG-9976.jpg' },
  { img: 'senjuti-kundu-JfolIjRnveY-unsplash.jpg' },
  { img: 'ice-skating.jpg' }
]
%}

<!-- begin s-label-text-images -->
<section class="s-label-text-images">
  <h2 class="title-label title-label--accent title title--h2">רפואכ םייחה</h2>

  <div class="s-label-text-images__block-sm text-photos-block text-photos-block--sm">
    <div class="text-photos-block__img">
      <div class="text-img text-img--md-side text-img--accent">
        <img class="js-lazy" alt="" src="" data-src="./img/274200-grewe-breckman-3-1.jpg"/>
      </div>
    </div>

    <div class="text-photos-block__text">
      – תרחא הרוצב הנשה תא הווח תירבה תוצראב דובעל תעסונש תירפוא לכ .לוכה תבלשמ תחאו םייוליבב תחא ,םילויטב תחא ,םידומילב העיקשמ תחא ךרדב תירבה תוצרא תא תווחל המיהדמ תורשפא הז הקירמאב רפוא תויהל תוחילשב םיעסונ הלא םיאקירמאה לע " דובעל" םיעסונ אל - רתויב תיתימאה תיאקירמאה תוברתה לע דומלל – לארשי תא גציילו ל"וחב רפוא תויהל ידכ .תילארשיה תוברתה לע החפשמה תא דמללו 
    </div>
  </div>



  <!-- begin right-images-block -->
  <div class="right-images-block">
    <h2 class="title title--h2 text-center">:תירבה תוצראב רפוא תויהל</h2>
    <div class="right-images-block__subttl text-center">:םיאבה םיאשונה תא תושיגדמו תונייצמ ןה הקירמאב רפוא תויהלב תונורסחה המו תונורתיה המ תירבה תוצראב רפוא םילאוש רשאכ </div>
    
    <div class="right-images-block__imgs right-images">
      {% for i in images %}
      <div class="right-images__img">
        <img class="js-lazy" alt="" src="" data-src="./img/{{ i.img }}"/>
      </div>
      {% endfor %}
    </div>

    <div class="right-images-block__content">
      {% for i in blocks %}
      <div class="right-images-block__block">
        <h4 class="title title--h4 title--accent">{{ i.title | safe }}</h4>

        <div class="right-images-block__text">{{ i.text | safe }}</div>
      </div>
      {% endfor %}
    </div>

    
  </div>
  <!-- end right-images-block -->
</section>
<!-- end s-label-text-images -->
