{%set
blocks = [
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: 'J-1 תזיו'
  },
   {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: 'יאופר חוטיב'
  },
   {
    mod: '',
    titleMod: 'title--h4',
    title: 'קרוי וינ דיל ןולמב ךרענה םימי 3 ןב הנכה סרוק'
  },
   {
    mod: '',
    titleMod: 'title--h4',
    title: '13 -ה שדוחב לויט תורשפא '
  },
   {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: 'הכימתו תוחיטב'
  },
   {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: 'םייתליהק םיצעוי'
  }
]
%}

<!-- begin s-label-aupair -->
<section class="s-label-aupair">
  <h2 class="title-label title-label--accent-sec title title--h2">?au pair יהמ</h2>

  <!-- begin text-photos -->
  <div class="text-photos">
    <div class="text-photos__block text-photos-block">
      <div class="text-photos-block__text text">
        .הוושכ החפשמה תיבב תלבקתמ רפואה – "הווש" השוריפ au pair הלימה תוברתה תא וריכיש ידכ ב"הראל םלועה יבחרמ םיריעצ תאבה םתרטמש תוינכות רפסמ הליעפמ ב"הרא תלשממ .םהלש תוברתה לע םיאקירמאה תא ודמלי ליבקמבו תיאקירמאה .רתוי תצק םהידליל תתל תוצורש תוליכשמ תוחפשמ ןה תינכותב תופתתשמה תוחפשמה בור חרזמהמ רפוא האבה הנשבו הפוריאמ רפוא התייה הרבעש הנש ,לארשימ רפוא הנשה ואיבי תוחפשמה ,יאקירמאה םייחה חרוא תא רתוי בוט ךירעהלו ןיבהל הרטמב בחרו בוט ךוניח םהידליל וקינעי םה םינימאמ ןה ךכבו .םידליב לופיטו תיאקירמא החפשמ םע םירוגמ ידכ ךות תינכותב תפתתשמה רפואהו םע חווט יכורא םיסחיל ליבומ תובורק םיתיעל רשא ,יתוברת ןויסינ המיע תקלוחו החפשמהמ קלחל תכפוה רפואה תרשפאמש J1 גוסמ הדובע תזיו תולבקמ תינכותב תופתתשמה .הדובעה תפוקתל רבעמ ,תחראמה החפשמה .םייתנשל דע תוהשה תא ךיראהל ןתינ .םילויטל שדוח דוע ןכמ רחאלו הנש ךשמל תינכותב תופתתשה
      </div>

      <div class="text-photos-block__img">
        <div class="text-img text-img--sm text-img--accent-sec">
          <img class="js-lazy" alt="" src="" data-src="./img/sander-weeteling-LgTTCmdi368-unsplash-1.jpg"/>
        </div>
      </div>
    </div>

    <div class="text-photos__block text-photos-block text-photos-block--right">
      <div class="text-photos-block__img">
        <div class="text-img text-img--md text-img--accent-sec">
          <img class="js-lazy" alt="" src="" data-src="./img/3-1.jpg"/>
        </div>
      </div>

      <div class="text-photos-block__text text">
        <h4 class="title title--h4 title--accent-sec">?רתויב הבוטה איה ונתינכות עודמ</h4>
        <p>.םלועב רתויב םיסונמה ןיבמ תוברת יפוליחל םינוגראה דחא -ונתיאמ הרזעו הכימת ילבקת ב"הראב ךתוהש תנש ךלהמב .ונתרגסמב ל"וחב ודבעו ודמל תוריעצ תורוחבו תויטנדוטס 950,000 -מ הלעמל 1964-ב ונתמקה זאמ תוריעצ תורוחב חולשל םינש 25 ינפל (USIA) ב"הרא לש עדימה תונכוס י"ע הרשואש הנושארה תינכותה התייה הקירמאב תינכותל תבשחנ הקירמאב רפוא ,ןכמ רחאל הנש 25 ,םויכ .תויאקירמא תוחפשמל תוירפואכ ןקיסעהל הרטמב ב"הראל .הנש ידמ תוצורמ תופתתשמ 4000 -מ הלעמל םע ,רתויב החילצמהו הבחרה רפואה</p>
        <p>ףתתשהל תוירפואהו תוחפשמה תמאתה חיטבהל תנמ לע םיינדפק ץובישו ןוימ ,ןויאר יכילהת התנב ‘הקירמאב רפוא’ תוימוקמה תוליהקב תוצעוי 200 לש הבחר תשר .תירפואה ינותנל החפשמה יכרצ ןיב המאתה חיטבהל מ"ע ןכו ,תינכותב םורח וקל תישפוח השיגל תיאכז ייהת ,ףסונב .תחראמה ךתחפשמלו ךל הנהמ הנשו הלק תובלתשה ןעמל לוכה תושוע .הממיב תועש 24 לעופה ,ונלש ינופלט</p>
      </div>
    </div>
  </div>
  <!-- end text-photos -->

  <h2 class="text-center title title--h2 title--accent">:ב"הראב ןתייהש ישדוח 12 רובע $ 24,500 דע תולבקמ הקירמאב רפוא לש תוירפוא</h2>

  <!-- begin prices-block -->
  <div class="s-label-aupair__prices prices-block">
    {{ mixins.list(
      name = 'prices-list',
      modifications = { wrap: '', item: 'prices-list__item', link: '' },
      list = [
        { item: '<i class="ic ic--peace prices-list__icon"></i> $ 10455 = תועובש 52 לופכ עובשל $ 205 י"פע היחמו םירוגמ ךרע  ' },
        { item: '<i class="ic ic--peace prices-list__icon"></i> ($ 197 לופכ תועובש 52) $ 10244 יעובש םולשת  ' },
        { item: '<i class="ic ic--peace prices-list__icon"></i> $ 800 = םימי 3 ןב הנכה סרוק  ' },
        { item: '<i class="ic ic--peace prices-list__icon"></i> $ 1800 = הרזחו ב"הראל הסיט  ' },
        { item: '<i class="ic ic--peace prices-list__icon"></i> $ 650 = םיחוטיב  ' },
        { item: '<i class="ic ic--peace prices-list__icon"></i> $ 500 = דומיל רכש תבצ ' }
      ]
    ) }}
  </div>
  <!-- end prices-block -->

  <h5 class="s-label-aupair__title-sm text-center title title--h5">
    <p>.ךייחב רתויב תולמגתמה תויווחה תחא תויהל היושע תחראמה ךתחפשמ םע הנשה .</p>
    <p>תיבה הרזחהו םירוגמה ,םשל העגהה תגאד תא ךממ ריסהל ודעונש םיעצמאו תובטה לס ךרובע ונבכרה </p>
  </h5>

  <div class="blocks__wrap">
    {% include "partials/_blocks.html" %}
  </div>

  


</section>
<!-- end s-label-aupair -->
