<!-- begin s-list -->
<section class="s-list">
  <div class="s-list__img">
    <img class="js-lazy" alt="" src="" data-src="./img/Mask-Group.jpg"/>
  </div>

  <div class="s-list__inner">
    <h2 class="title title--h2 title--accent-sec">ךילהתה</h2>
    <div class="s-list__subttl">
      .תיפסכ תולע אלל ךתודמעומ תא לטבלו טרחתהל הלוכי תא (הסיטהו הדובע תזיוו תלבק) ןורחאה בלשה ינפל דע .םיבלש רפסמ ללוכ ךילהתה
    </div>


    <ol class="order-list">
      <li class="order-list__item">יימב ךילא וחלשיש וא ןאכמ םתוא דירוהל ןתינ – םיספטה יולימ .</li>
      <li class="order-list__item">מיאתמ החפשמ רוחבל ךל אוזענו ב"הראב הבורקה הנשל ךיתונוצר תא ןיבהל ,ךתוא ריכהל חמשנ ןויארב .תנכהש רמוחהו םיספטה לכ םע ישיא ןויארל םיעיגמו תירבעב םיספטה תא םיאלממ </li>
      <li class="order-list__item">ראל ותוא ריבענו תילגנאל רמוחה לכ תא םגרתנ ונא </li>
      <li class="order-list__item">לש ליפורפל תומיאתמש תוחפשמל ךלש םיספטה תא ריבעי ןוגראה </li>
      <li class="order-list__item">תחראמה החפשמה תא רוחבל הכירצ תא ךב תוניינועמש תוחפשמה לכמ .המודכו ןופלט ,םיליימב רשק ךתא ורצי תוחפשמ עובשכ ךותב </li>
      <li class="order-list__item">תוא םהו החפשמ תרחוב תא </li>
      <li class="order-list__item">ראל הסיטו הזיוו תלבק </li>
    </ol>

    <div class="text--400">.רבד םימלשמ אל םיסט אל ,הסיטה ינפל םימלושמש דבלב $200-ו הזיוו :םיסטל תינכותה תולע</div>
  </div>
</section>
<!-- end s-list -->
