<!-- begin s-label-list -->
<section class="s-label-list">
  <h2 class="title-label title-label--accent title title--h2">ב"הראב תיקוח הדובע</h2>


  <div class="s-label-list__block">

    <div class="s-label-list__img-wrap">
      <div class="s-label-list__img">
        <img class="js-lazy" alt="" src="" data-src="./img/34382444_10216965781441415_6613566654435557376_n.jpg"/>
      </div>
    </div>

    <div class="s-label-list__content text">
      <p>?תולגעב אל ב"הראב הדובע לע ןתעמש םאה ?תוריכמב אל לוחב הדובע לע םעפ ןתעמש םאה
        ?תירבה תוצראב תיקוח הדובע לע ןתעמש םאה
        ,תירבה תוצראב דובעל .הקירמא ןיא רפוא תינכות – הזכ רבד שי
      .ףסכ הברה ,ףסכ ךוסחלו תילגנא דומלל ,םידליב לפטל ,ןירדהמל יקוח ןפואב</p>

      <p>
        <div class="color-accent">.תירבה תוצראב יקוח ןפואב דובעל תחא ךרד קר שי</div>
        .תיאקרמאה תוברתל ךתואו תרחא תוברתל ב"הראמ תוחפשמ ףושחל התרטמו תויוברת יפוליחל תיאקירמא תיתלשממ תינכות הניה רפואה תינכות
        .תירבה תוצרא ימוחתב דובעל יאשר הדובע תזיווב קיזחמש ימ קר .תושירדה לכב םידמועל תימשר הדובע תזיוו הקיפנמ תירבה תוצרא תורירגש
        .תירבה תוצראב םידבועה ךרעממ קלח תויהלו םיילאיצוס םיאנתמ תונהיל דומלל ,ףסכ חיוורהל ,דובעל םיאשר וז תיתרקוי הזיווב םיקיזחמה
      </p>

      <p>
        <span class="color-accent">:תעדל בושח</span>
        .תומדקומה תושירדה לכב הדימעו םימיאתמה םיספטה יולימ ידי לע לארשיב םיקיפנמ ב"הראב תיקוח הדובע תזיוו  
        .תירבה תוצראב תיקוח הייהשו הדובע תרשפאמש הדיחיה –J1 תזי
      </p>

      <p>
        <div class="color-accent">.הקירמאב תיקוח הדובע – םולחה תא ךל המישגמ הקירמא ןיא רפוא תרבח</div>
        תיאקירמא החפשמב רפואכ הדובעה .ילרדפה לשממה ףותישבו תירבה תוצרא תורירגש םע דחי הנש 15 רבכ תלעופ הקירמא ןיא רפוא תרבח
        .רשואמו יקוח ,רדוסמ לוכה – עתפ תוקידבמ שושחל ךרוצ ןיא ,הריגה תרטשממ דחפל ךרוצ ןיא .ןיטולחל תיקוח איהו לשממה ידי לע תרכומ
        .לארשימ םגו םלועה לכמ ,המוחתב םיהושה םייקוח אלה םידבועה תעפותב םחליהל תירבה תוצרא תלשממ הדיפקמ ,תונורחאה םינשב
        .רתלאל תירבה תוצרא חטשל בושל ונממ ענמתש הרוחש תמתוחו שוריג ,אלכב הבישיב ןכתסמ יקוח אל דבועכ ספתנש ימ
        .תירבה תוצראב רפוא תויהל – תמלתשמו הבוט ,החוטב ךרד שי ?ןכל המל זא
      </p>
    </div>
  </div>

  <div class="s-label-list__list-blocks">
    <div class="s-label-list__list-block">
      <h4 class="s-label-list__block-title title title--h4 title--accent">:תירבה תוצראב תיקוחה הדובעה תונורתי</h4>

      {{ mixins.list(
        name = 'list',
        modifications = { wrap: '', item: 'list__item', link: '' },
        list = [
          { item: '<i class="ic ic--check list__icon"></i> ,תמלתשמו תרדוסמ תרוכשמ ' },
          { item: '<i class="ic ic--check list__icon"></i> ,םילועמ םיילאיצוס םיאנת ' },
          { item: '<i class="ic ic--check list__icon"></i> ,תירבה תוצראב יקוח הייהש רושיא ' },
          { item: '<i class="ic ic--check list__icon"></i> תירבה תוצראב תוללכמה תחאב םידומילל תורשפא ' },
          { item: '<i class="ic ic--check list__icon"></i> ,הנש דועל הזיווה תכראהל תורשפא ' },
          { item: '<i class="ic ic--check list__icon"></i> .תונגוהו תועובק הדובע תועש ' }
        ]
      ) }}
    </div>

    <div class="s-label-list__list-block">
      <h4 class="s-label-list__block-title title title--h4 title--accent">:תירבה תוצראב רפוא תדובע תונורתי</h4>

      {{ mixins.list(
        name = 'list',
        modifications = { wrap: '', item: 'list__item', link: '' },
        list = [
          { item: '<i class="ic ic--check list__icon"></i> .תירבה תוצראב הלועמ ףסכ חיוורהל ' },
          { item: '<i class="ic ic--check list__icon"></i> .קרוי וינב תיעוצקמ הכרדה ' },
          { item: '<i class="ic ic--check list__icon"></i> .בורקמ תיאקירמאה תוברתה תא ריכהל ' },
          { item: '<i class="ic ic--check list__icon"></i> .תילגנאה תא רפשל ' },
          { item: '<i class="ic ic--check list__icon"></i> …רוכמל תעדל ךירצ אל ' },
          { item: '<i class="ic ic--check list__icon"></i> ?הזמ ףיכ רתוי שי – םידלי םע הדובע ' },
          { item: '<i class="ic ic--check list__icon"></i> תירבה תוצראב תיקוח הדובע קר אל איה הקירמא ןיא רפוא
.םינש 15 ךשמב תומולח יפלא המישגהו הכירדהש הלודג החפשמ םג אלא ' }
        ]
      ) }}
    </div>
  </div>

  <!-- begin accent-btn-block -->
  <div class="s-label-list__btn-block accent-btn-block">
    <h2 class="accent-btn-block__title title title--h2">
     …הכחמ סוטמה
    </h2>

    <div class="accent-btn-block__text text--400">
     .תשגרמו תידוחיי היווחב תוסנתהלו ךלש הפשה ירושיכ תא רפשל ,תרחא תוברת תווחל ,תונהיל ךלש ןמזה הז
    </div>

    <div class="accent-btn-block__btn">
      {{ mixins.btn(
        title = 'תירבה תוצראל ךרדב תאו ספוטה תא יאלמ',
        mod = 'btn--light'
      ) }}
    </div>
  </div>
  <!-- end accent-btn-block -->
</section>
<!-- end s-label-list -->
