<!-- begin s-label-text-images -->
<section class="s-label-text-images">
  <h2 class="title-label title-label--accent title title--h2">רפואכ םייחה</h2>

  <div class="s-label-text-images__block-sm text-photos-block text-photos-block--sm">
    <div class="text-photos-block__img">
      <div class="text-img text-img--md text-img--accent-thrd">
        <img class="js-lazy" alt="" src="" data-src="./img/274200-grewe-breckman-3-1.jpg"/>
      </div>
    </div>

    <div class="text-photos-block__text">
      – תרחא הרוצב הנשה תא הווח תירבה תוצראב דובעל תעסונש תירפוא לכ .לוכה תבלשמ תחאו םייוליבב תחא ,םילויטב תחא ,םידומילב העיקשמ תחא ךרדב תירבה תוצרא תא תווחל המיהדמ תורשפא הז הקירמאב רפוא תויהל תוחילשב םיעסונ הלא םיאקירמאה לע " דובעל" םיעסונ אל - רתויב תיתימאה תיאקירמאה תוברתה לע דומלל – לארשי תא גציילו ל"וחב רפוא תויהל ידכ .תילארשיה תוברתה לע החפשמה תא דמללו 
    </div>
  </div>
</section>
<!-- end s-label-text-images -->
