<!-- begin s-list -->
<section class="s-list">
  <div class="s-list__img">
    <img class="js-lazy" alt="" src="" data-src="./img/Mask-Group.jpg"/>
  </div>

  <div class="s-list__inner">
    <h2 class="title title--h2 title--accent-sec">התהליך</h2>
    <div class="s-list__subttl">
      התהליך כולל מספר שלבים. עד לפני השלב האחרון )קבלת וויזת עבודה והטיסה( את יכולה להתחרט ולבטל את מועמדותך ללא עלות כספית.
    </div>


    <ol class="order-list">
      <li class="order-list__item"> מילוי הטפסים – ניתן להוריד אותם מכאן  או שישלחו אליך  במייל</li>
      <li class="order-list__item">ממלאים את הטפסים בעברית ומגיעים לראיון אישי עם כל הטפסים והחומר שהכנת. בראיון נשמח להכיר אותך, להבין את רצונותיך לשנה הקרובה בארה"ב ונעזוא לך לבחור משפחה מתאימה.</li>
      <li class="order-list__item">אנו נתרגם  את כל החומר לאנגלית ונעביר אותו לארה"ב,</li>
      <li class="order-list__item">הארגון יעביר את הטפסים שלך למשפחות שמתאימות לפרופיל שלך.</li>
      <li class="order-list__item">בתוך כשבוע משפחות יצרו אתך קשר במיילים, טלפון וכדומה. מכל המשפחות שמעוניינות בך את צריכה לבחור את המשפחה המארחת.</li>
      <li class="order-list__item">את בוחרת משפחה והם אותך,</li>
      <li class="order-list__item">קבלת וויזה וטיסה לארה"ב.</li>
    </ol>

    <div class="text--400">עלות התוכנית לטסים:  וויזה ו-002$ בלבד שמשולמים לפני הטיסה, לא טסים לא משלמים דבר.</div>
  </div>
</section>
<!-- end s-list -->
