{%set
blocks = [
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: 'חותמת על חוזה ולא יכולה לחזור קודם? האם אני מחויבת לעבוד שנה –'
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "הרבה יותר למה לי לעבוד ולקבל פחות? הציעו לי לעבוד בחו''ל במכירות ולהרוויח"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: 'האם אני עדיין יכולה לפנות? אין לי רישיון נהיגה מלא,'
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "האם ייתכן שאשובץ בכל מקום שהוא בארה''ב?"
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: 'לאחר שעברתי את הריאיון? כמה זמן אצטרך להמתין'
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: 'האם אוכל לחזור הביתה? אם אתגעגע מאוד,'
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "כיצד 'נראות' המשפחות המארחות?"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: 'בטיפול בילדים מתחת לגיל שנתיים? מה אם אין לי 002 שעות ניסיון'
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: 'האם יהיו אופריות נוספות באזורי?'
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: 'אלו קורסים אני יכולה ללמוד?'
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: 'כמה זמן מראש עלי להגיש בקשה?'
  }
]
%}

<!-- begin s-label-blocks -->
<section class="s-label-blocks">
  <h2 class="title-label title-label--accent-sec title title--h2">תובושתו תולאש</h2>
  
  <div class="blocks__wrap">
    {% include "partials/_blocks.html" %}
  </div>
</section>
<!-- end s-label-blocks -->