<!-- begin s-label-text -->
<section class="s-label-text">
  <div class="title-label title-label--accent-thrd title title--h2">?ונחנא ימ</div>

  <div class="s-label-text__text">
    . ב"הראב תויקוח תודובעב החמתמה ןוגראה לש לארשיב ידעלבה גיצנכ 1997 תנשב חתפנ הקירמא ןיא רפוא לש ילארשיה ףינסה .תויוברת יפוליחו ב"הראב ץיק תונחמל םיכירדמ תאבה ,םיטנדוטס יפוליח ,ב"הראב םיהובג םידומיל – ותרטמו םינש 37 ינפל ב"הראב דסונ הקירמא ןיא רפוא .תויוברת יפוליחל תיאקירמא תיתלשממ תינכות תוסחב דבוע ןוגראה .ב"הראל םיריעצ 75,000 כ הנש לכ םיעיגמ ןוגראה תרגסמב .ב"הראב וגוסמ לודגה אוה ןוגראה .תיאקירמא החפשמ תרבחב תולבלו דובעל תוירפוא 4000 כ תועיגמ הנש לכ תויוברת יפוליחל ילארשיה זכרמה – ICEC תצובק תולעבב תאצמנ לארשי הקירמא ןיא רפוא .םילשוריבו ביבא לתב תורירגשהו ב"הרא תלשממ תוסחבו חוקיפב תינכותה .IAPA ימלועה רפואה ןוגראב לארשי תא םיגציימ ןכו לארשי הקירנא רחסמה תכשילב םירבח ונחנא .ב"הראב תוחמתה וא הדובעל תונוש תוינכות ליעפמה /http://www.usembassy-israel.org.il תבותכב לארשיב תיאקירמאה תורירגשה רתאל וא www.aifs.com תבותכב ב"הראב ןוגראה רתאל סנכיהל םינמזומ םתא
  </div>
</section>
<!-- end s-label-text -->