{%set
blocks = [
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: '– הנש דובעל תביוחמ ינא םאה ?םדוק רוזחל הלוכי אלו הזוח לע תמתוח'
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "חיוורהלו תוריכמב ל''וחב דובעל יל ועיצה ?תוחפ לבקלו דובעל יל המל רתוי הברה"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: ',אלמ הגיהנ ןוישיר יל ןיא ?תונפל הלוכי ןיידע ינא םאה'
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "?ב''הראב אוהש םוקמ לכב ץבושאש ןכתיי םאה"
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: 'ןיתמהל ךרטצא ןמז המכ ?ןויאירה תא יתרבעש רחאל'
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: ',דואמ עגעגתא םא ?התיבה רוזחל לכוא םאה'
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "?תוחראמה תוחפשמה 'תוארנ' דציכ"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: 'ןויסינ תועש 200 יל ןיא םא המ ?םייתנש ליגל תחתמ םידליב לופיטב'
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: '?ירוזאב תופסונ תוירפוא ויהי םאה'
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: '?דומלל הלוכי ינא םיסרוק ולא'
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: '?השקב שיגהל ילע שארמ ןמז המכ'
  }
]
%}

<!-- begin s-label-blocks -->
<section class="s-label-blocks">
  <h2 class="title-label title-label--accent-sec title title--h2">תובושתו תולאש</h2>
  
  <div class="blocks__wrap">
    {% include "partials/_blocks.html" %}
  </div>
</section>
<!-- end s-label-blocks -->