{%set
blocks = [
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: "ב''הראל הזיוה"
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "יללכ עדימ"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "םיסימ םולשת"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "יאופר חוטיב"
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: "םורח תעשב"
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "יתוברת םלה"
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: "ב''הראב הגיהנ"
  },
  {
    mod: 'block--accent-sec',
    titleMod: 'title--h4',
    title: "ךוניח"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "האירב הליכא"
  },
  {
    mod: '',
    titleMod: 'title--h4',
    title: "תחלצומ הנשל םיפיט"
  },
  {
    mod: 'block--accent-thrd',
    titleMod: 'title--h4',
    title: "ישיא ןוחטיב"
  }
]
%}

<!-- begin s-label-img-blocks -->
<section class="s-label-img-blocks">
  <h2 class="title-label title-label--accent-sec title title--h2">תוסטל ינויח עדימ</h2>

  <div class="s-label-img-blocks__block">
    <div class="s-label-img-blocks__img-wrap">
      <div class="s-label-img-blocks__img">
        <img class="js-lazy" alt="" src="" data-src="./img/actionvance-6_741dg4VwY-unsplash.jpg"/>
      </div>
    </div>

    <div class="s-label-img-blocks__text">
     <div class="s-label-img-blocks__text-in">
        .תולקב ךילהתה תא רובעל ךל רוזעיש בר רמוח יאצמת ןוגראה רתאב ךלש םיישיאה םידומעב .רתויב בושחה רמוחל םירושיק ןאכ םיפרצמ ונא .ונילא תונפל יססהת לע הלאש תררועתמו הדימבו רמוחה לוכ תא יארק אנא
     </div>
    </div>
  </div>
  

  <div class="blocks__wrap">
    {% include "partials/_blocks.html" %}
  </div>
</section>
<!-- end s-label-img-blocks -->