$icons: (0:0)
$icons: map-merge($icons,('check': (X: 0px, Y:-49px, W: 26px, H: 26px, TW: 77px, TH: 75px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('peace': (X: -49px, Y:0px, W: 28px, H: 28px, TW: 77px, TH: 75px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('plane': (X: 0px, Y:0px, W: 39px, H: 39px, TW: 77px, TH: 75px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-check
//  width: 26px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -49px
//
//.icon-peace
//  width: 28px
//  height: 28px
//  background-image: url('../img/sprite.png')
//  background-position: -49px 0px
//
//.icon-plane
//  width: 39px
//  height: 39px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//