.blocks
  display: flex
  flex-wrap: wrap

  margin-left: rem(-12)
  margin-right: rem(-12)

  &__wrap
    padding-left: rem(24)
    padding-right: rem(24)

  &__item
    width: 33.33333%
    padding-left: rem(12)
    padding-right: rem(12)
    margin-bottom: rem(24)

    +md
      width: 50%
    +xs
      width: 100%

.block
  $this: &

  height: 100%

  &__btn
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    
    width: 100%
    height: 100%

    color: $white    
    text-align: center
    background-color: $accent
    position: relative

    padding: rem(40) rem(40) rem(18)

    +tr(background-color .3s)
    +hover
      background-color: $accent-dark

    +after
      +arr(3.35em, 1.4em, currentColor, b)

    +lg
      padding: rem(20) rem(20) rem(14)

    +md
      padding: rem(14)

    &--active
      height: auto      

  &__title
    margin-bottom: rem(15)
    flex-grow: 1
    display: flex
    align-items: center    

  &__list-wrap
    background-color: $accent    

    max-height: 0
    overflow: hidden

    +tr(max-height .4s)

    &--open
      margin-top: rem(3)

  &__list-title
    line-height: 1.6
    margin-bottom: rem(30)
    padding: rem(34) rem(22) 0 rem(62)
    +xs
      padding: rem(30) rem(15) 0
  
  &__list
    font-size: em(14)
    font-weight: 400

    padding: 0 rem(22) rem(52) rem(62)

    +xs
      padding: 0 rem(15) rem(30)

  &__list-item
    +notlast
      margin-bottom: rem(5)
  
  &__list-icon
    fill: $white
    margin-left: .5em

    +not-rtl
      margin-left: 0
      margin-right: .5em
  

  &--lg
    #{$this}__btn
      padding: rem(42) rem(50) rem(14)
      // padding-top: rem(42)

    #{$this}__title
      margin-bottom: rem(37)

  &--accent-sec
    #{$this}__btn, #{$this}__list-wrap
      background-color: $accent-sec

    #{$this}__btn
      +hover
        background-color: $accent-sec-dark

  &--accent-thrd    
    #{$this}__btn, #{$this}__list-wrap
      background-color: $accent-thrd

    #{$this}__btn
      color: $dark-aux
      +hover
        background-color: $accent-thrd-dark
      
