.btn
  display: inline-block
  background-color: $accent

  border-width: 1px
  border-style: solid
  border-color: $accent

  text-align: center
  text-transform: uppercase
  font-size: em(18)

  padding: rem(19) rem(52)

  min-width: rem(272)

  +tr(background-color .3s, border-color .3s)

  +hover
    background-color: $accent-dark
    border-color: $accent-dark

  +xs
    min-width: 0
    width: 100%

  &--accent-sec-light
    background-color: $accent-sec-light
    border-color: $accent-sec-light
    +hover
      background-color: $accent-sec
      border-color: $accent-sec
    
  &--accent-thrd
    background-color: $accent-thrd
    border-color: $accent-thrd
    +hover
      background-color: $accent-thrd-dark
      border-color: $accent-thrd-dark

  &--accent-sec
    background-color: $accent-sec
    border-color: $accent-sec
    +hover
      background-color: $accent-sec-dark
      border-color: $accent-sec-dark

  &--light
    background-color: $accent-light
    border-color: $accent-light
    +hover
      background-color: $accent
      border-color: $accent
