.contact
  $this: &

  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

  width: rem(306)
  height: rem(306)

  margin-left: auto
  margin-right: auto

  padding: rem(30) rem(80)

  border-radius: 50%

  color: $white
  font-size: em(18)

  background-color: $accent

  &__icon
    margin-bottom: rem
    position: relative
    margin-bottom: rem(30)
    display: flex
    .icon
      font-size: rem(80)
    img
      width: rem(86)

  &--accent-thrd
    background-color: $accent-thrd

  &--accent-sec
    background-color: $accent-sec