.input
  color: #C4C4C4
  font-size: em(18)
  #{$text-inputs}
    width: 100%
    height: rem(58)

    border: 1px solid  $accent
    border-radius: rem(35)
    
    padding: rem(15) rem(30)
    +placeholder
      color: inherit

  textarea
    min-height: rem(241)

  &--steps
    #{$text-inputs}
      border: 1px solid #B3B3B3
      border-radius: 5px
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.18)