.prices-block
  background-color: $accent
  color: $white
  padding: rem(30) rem(110)

  font-size: em(18)

  +lg
    padding: rem(30) rem(50)

  +md
    padding: rem(30) rem(15)

.prices-list
  display: flex
  flex-wrap: wrap

  &__item
    width: 50%
    margin-bottom: rem(20)
    
    display: flex
    align-items: center

    padding-left: rem(10)

    +not-rtl
      padding-left: 0
      padding-right: rem(10)

    +sm
      width: 100%

  &__icon
    margin-left: rem(25)
    flex: 0 0 28px