.s-items-img-btn
  &__title
    text-align: center
    margin-bottom: rem(53)


.items-img-btn
  padding: rem(61) rem(85)
  background-color: $accent-thrd

  &__item
    +notlast
      margin-bottom: rem(40)

.item-img-btn
  background-color: $white
  padding-left: rem(21)

  display: flex
  align-items: center

  &__img
    font-size: 0
    height: 100%
    &--gap
      padding: rem(15) rem(30)

  &__text
    font-size: em(18)
    padding-left: rem(14)
    padding-right: rem(14)
    flex-grow: 1
