.slider
  &__wrap
    direction: ltr
    position: relative
    overflow: hidden
  
  &--home
    &__wrap
      [data-action="stop"], [data-action="start"]
        display: none
      .tns-ovh
        padding-top: rem(60)
        padding-bottom: rem(70)
      .tns-nav
        position: absolute
        bottom: 0
        left: 0
        right: 0
        text-align: center
        button
          display: inline-block

          width: rem(20)
          height: rem(20)

          margin-left: rem(7)
          margin-right: rem(7)

          border-radius: 50%
          background-color: #e2e2e2

          &.tns-nav-active
            background-color: $accent
  
.home-slide
  padding-left: rem(110)
  padding-right: rem(110)
  padding-top: rem(22)
  padding-bottom: rem(35)

  background-color: $accent
  color: $white

  display: inline-flex !important

  direction: rtl
  font-size: 1rem !important
  +not-rtl
    direction: ltr

  &__title
    margin-bottom: rem(50)
    margin-top: rem(-70)
    text-align: left
  
  &__btn
    text-align: left

  &__img
    width: percentage(335 / 1203)
    font-size: 0
    margin-bottom: rem(-35) + rem(-70)  // padding bottom + offset

  &__content
    width: percentage((1203 - 335) / 1203)

  &__quote
    margin-right: auto
    margin-left: rem(-19)
    margin-top: rem(-60) + rem(-22) // padding top + offset
    