<!-- begin hero -->
<section
  class="hero hero--desctop-7 js-lazy"
  data-background-image="./img/hero/court-cook-wZA5o-bECNc-unsplash-2.jpg"
>
  <div class="hero__inner">
    {# <div class="hero__content"> #}
      <div class="hero__title-wrap">
        <div class="hero__upttl title title--h2 title--shadow">
          המטרה:
        </div>

        <h1 class="hero__title title title--h1 title--shadow">חוויה בלתי נשכחת לכל החיים!</h1>
      </div>

      <div class="hero__text text text--shadow">
        <p>במהלך 22 השנים האחרונות, אנחנו, בחברת אופר אין אמריקה, סניף ישראל, ליווינו אלפי בנות בדרכן להיות אופר בארצות הברית.</p>
        <p> המשתתפות בתוכנית טסות לשנה לארה"ב, למשפחה שהן בחרו ועובדות בטיפול בילדי המשפחה,  האופר מתקבלת כבת משפחה ולא כעובדת. </p>
        <p>במשך השנים שכללנו את התוכנית כך שתענה על כל הצרכים והציפיות של בנות ישראליות המעוניינות להשתתף בתוכנית באופן חוקי, ללמוד ולחיות בארץ האפשרויות הבלתי מוגבלות.</p>
      </div>
    {# </div> #}
  </div>
</section>
<!-- end hero -->
