<!-- begin hero -->
<section class="hero hero--main js-lazy" data-background-image="./img/hero/court-cook-wZA5o-bECNc-unsplash-1.jpg">
  <div class="hero__inner">
    <div class="hero__content">
      <div class="hero__upttl title title--h2 title--shadow">תגשימי את החלום</div>

      <h1 class="hero__title title title--h1 title--shadow">בואי להיות אופר בארה“ב</h1>

      <div class="hero__btns">
        <div class="hero__btn">
          {{ mixins.btn(
            title = 'ליצירת קשר ולהרשמה',
            mod = ''
          ) }}
        </div>

        <div class="hero__btn">
          {{ mixins.btn(
            title = 'לפרטים על התוכנית',
            mod = ''
          ) }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->